<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">添加关注报关单号</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">报关单号</span>
          <input type="text" ng-model="newEntry" />
        </label>
      </div>
      <div class="status-text">
          <h5 class="assertive">{{status}}</h5>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-disabled="adding" ng-click="doAddEntry(newEntry)">确认</button>
        <button class="button button-block button-assertive" ng-Click="cancelAddEntry()">取消</button>
      </div>
    </ion-content>
</ion-modal-view>
