
<ion-view view-title="最新公告">
  <ion-nav-title>
    <img src="img/12360banner.png" style="width:100%" alt="">
  </ion-nav-title>
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">广州海关服务平台移动版上线</div>
      <div class="item item-body">
        <div>
          于2015年9月21日，广州海关服务平台移动版上线
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">欢迎关注广州海关12360微信公众号</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">更多更新告示</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
