<ion-view view-title="报关单查询">
  <ion-nav-buttons side="primary">
    <a class="button button-clear button-positive"
            ng-click="toggleDelete()">
            <span>{{editButtonText}}</span>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive icon ion-ios-plus-empty"
            ng-click="secondaryClicked()"
            ng-class="{'ion-ios-plus-empty': !editing, 'ion-ios-trash-outline': editing}">
    </button>
  </ion-nav-buttons>
  <div class="hints" ng-show="shouldShowHints">
    <span>点击右上角"+"添加关注报关单</span>
  </div>
  <ion-content>
    <ion-refresher pulling-text="下拉以更新列表..."
      on-refresh="doRefresh()"></ion-refresher>
    <ion-list show-delete="editing"
              show-reorder="editing"
              can-swipe=true>
      <ion-item class="item-remove-animate item-icon-right"
                ng-repeat="entry in entries"
                type="item-text-wrap" href="#/tab/entry/{{entry.id}}">
        <h2>{{entry.id}}</h2>
        <p>{{entry.trade_name}}</p>
        <span class="icon status-text icon-accessory">
          {{entry.status}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </span>

        <ion-option-button class="button-assertive"
            ng-click="removeEntry($index)">Delete
        </ion-option-button>
        <ion-delete-button class="item-edit"
            ng-click="toggleEntrySelected(entry)"
            ng-class="{'ion-ios-circle-outline': !entry.selected, 'ion-ios-checkmark': entry.selected}">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
            on-reorder="reorderItem($fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
