/* Empty. Add your own CSS if you like */
html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;


  /*display: -webkit-flexbox;
  display: flex-box;
  -webkit-flex-direction: column;
  flex-direction: column;*/

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height:100%;
}

.item-delete .item-edit.button.icon {
    color: #387ef5;
    padding-left: 10px;
    padding-right: 10pxs;
}
.item-delete .item-edit.button.icon::before {
    font-size:24px !important;
}

.bar-header .primary-buttons .button.button-clear {
    font-weight: 400;
}

.modal .status-text {
    text-align: center;
}

.item-icon-right span.icon {
  font-size: 16px;

}

.item-icon-right span.icon i.icon{
  position: relative;
}

.logo img {
  width: 100%;
  position: relative;
}

.view-container .hints {
  font-size: 18px;
  color: rgb(172, 172, 172);

  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;

  /*display: -webkit-flexbox;
  display: flexbox;
  -webkit-flex-pack: center;
  flex-pack: center;
  -webkit-flex-align: center;
  flex-align: center;
  -webkit-flex-item-align:center;
  flex-item-align: center;*/

  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-item: center;
  -o-align-item: center;
  -ms-align-item: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-align-item: center;
  -o-align-item: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.banner {
  -webkit-box-flex: 0;
  box-flex: 0;

  -webkit-flex: initial;
  -moz-flex: initial;
  -ms-flex: initial;
  -o-flex: initial;
  flex:initial;
}

.main-content {
  -webkit-box-flex: 1;
  box-flex: 1;

  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex:1;
  position:relative;
}

.main-content .wrapper {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
